@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-image: url(https://i.gifer.com/L6tF.gif);
    background-repeat: no-repeat;
    background-size: contain;
}
section{
    height: 100vh;


}

.firstSection{
    
    background-image: url(../img/vetores/pagesVetores/charmanderVetor.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;

}

.left{
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

}
.left>h1{
    font-size: 4rem;
    font-style: italic;
    color: white;
    font-weight: 400;
    text-shadow: 6px 4px 4px #00000081;

}
.left>p{

    
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
}
.left>img{
    width: 50vw;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.right{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right>img{
    margin-top: 10vh;
    width: 40vw;

}

.pokeinfo>ul{

   text-align: left;
   margin-top: 5vh;
   list-style: none;
}

.pokeinfo>ul>li{

    margin-top: 2vh;
    font-size: 1rem;
    font-style: italic;
    

}
.pokeinfo{
    border: 5px solid black;
    padding: 40px;
    background-color: #DE5239;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 30%;
}

.secondSection{
    border-top:10px solid #FFAD52 ;
    background-color:#FFD57B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondSection>main{
    width: 80vw;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    border-radius: 78% 22% 77% 23% / 0% 100% 0% 100% ;
    border:10px solid #FFAD52 ;
}

.line1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.line1>img{
    width:25%;
}
#about{
    width: 40%;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    margin-top: 5vh;
    margin-left: 5vh;
    border-radius: 78% 22% 77% 23% / 0% 100% 0% 100% ;

}

.line2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.line2>img{
    width: 25%;
}
.listD{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}
.listD>h1{
    width: 100%;
    font-style: italic;
    text-align: left;
}

.pokemon{
    height: 100vh;
    background-color: #FF9441;
}
.pokemon>header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pokemon>header>img{
    height: 90%;
}
.pokemon>header>h1{
    font-size: 2.8rem;
    color: white;
}
.pokemon>main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

.pokemon>main>ul{
    font-size: 2rem;
    color: white;
    font-style: italic;
}
.pokemon>main>img{
    width: 40%;
}

.pokemon>footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 20vh;
    width: 100%;
    background-image: URL(https://media3.giphy.com/media/WE066ErCk0Z91fLgaJ/giphy.gif);
}
.pokemon>footer>img{
    height: 100%;
}
.pokemon>main>p{
    font-size: 1rem;
    width: 20vw;
    font-style: italic;


}
